header{
    width: 100%;   
    position: relative;
    z-index: 9;
    .main_area{
        width: 100%;
        background-color: var(--secondary-color);
        padding: 2rem 0 5.4rem 0;
        .left{
            flex: 0 0 auto;
            width: 35%;
        }
        .right{
            flex: 0 0 auto;
            width: 35%;
        }
        .contact_details{
            width: 100%;
            li{
                margin-right: 4rem;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    margin-right: 2.6rem
                }
                a{
                    font-size: 12px;
                    color: var(--white-color);
                    line-height: 16px;
                    span{
                        color: var(--primary-color);
                        font-size: 12px;
                    }
                }
            }
        }
        .logo{
            width: 30%;
            img{
                width: auto;
            }
        }
        .social{
            margin-right: 3rem;
            li{
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
                a{
                    width: 32px;
                    height: 32px;
                    border: var(--white-color) 1px solid;
                    color: var(--white-color);
                    font-size: 12px;
                    border-radius: 100%;

                }
            }
        }
    }
    .main_menu{
        width: 100%;        
        position: relative;
        top: -33px;
        .btn{
            &.mobile{
                display: none;
            }
            
        }
        .menu{
            background-color: var(--white-color);
        }
        li{
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            a{
                color: var(--dark-color);
                padding: 19px 20px 18px;
                text-transform: uppercase;
                display: block;
                font-family: var(--heading-font);
                position: relative;
                font-size: 13px;
                transition: all .5s ease-in-out;
                &::before{
                    width: 7px;
                    height: 7px;
                    border-radius: 20px;
                    background-color: #c2c2c2;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    content: "";
                    transition: all .5s ease-in-out;
                }
                &:hover{
                    color: var(--primary-color);
                    &::before{
                        background-color: var(--primary-color);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:991px){
     
    header{
        
        .main_area {
            padding: 3rem 0;
            
            .logo{
                width: 80%;
                display: block !important;
            }
            .container{
                flex-wrap: wrap;
            }
            .left{
                display: none;
            }
            .right{
                display: none !important;
            }
        }
        .main_menu{
            display: none;
            
        }

        .btn{
            &.mobile{
                display: block;
                text-align: left;
                padding: 15px 0 15px 20px !important;
                font-size: 2rem;
                color: var(--white-color);
                text-transform: uppercase;
                font-family: var(--common-font);
                font-weight: 400;
                letter-spacing: 1px;
                
            }
            
        }
    }
}
@media only screen and (max-width:500px){
    header{        
        .main_area {            
            .logo{
                width: 40%;
                img{
                    width: 100%
                }
            }
        }
    }
}


@import "./menu";